.card
	.card-element
		p ID: #{user.id}
	.card-element
		p Username: #{user.username}
	.card-element
		p Name: #{user.displayName}
	.card-element
		p Email: #{user.emails[0].value}
	.card-element
		img(src="#{user._json.avatar_url}" height="100" width="100")